In [22]:
import glob
import numpy as np
import pandas as pd

In [23]:
path='E:\\JLD\\Desktop\\py_workspace\\txtreader\\files'

In [24]:
results=[]
for txt in glob.glob(path+'\\'+'\*.txt'):
    lines=open(txt,'r').readlines()
    flen=len(lines)-1
    index=0
    for i in range(flen):
        if '* Hic' in lines[i]:
            index=i
    Wordlist = lines[index].split(',')
    HicSection=Wordlist[0].strip('*')
    HicSection[5:]
    filename=txt.split('\\')
    filename=filename[-1]
    filename=filename.split('.')
    filename=filename[0]
    results.append([filename,HicSection[5:]])
results=np.array(results)
df = pd.DataFrame(results, columns=['file', 'Hic'])

In [25]:
df

              file    Hic
0        312312321  310.6
1             new1  310.6
2             new2  310.6
3   new3 - 副本 (10)  310.6
4   new3 - 副本 (11)  310.6
5   new3 - 副本 (12)  310.6
6   new3 - 副本 (13)  310.6
7   new3 - 副本 (14)  310.6
8   new3 - 副本 (15)  310.6
9   new3 - 副本 (16)  310.6
10  new3 - 副本 (17)  310.6
11  new3 - 副本 (18)  310.6
12  new3 - 副本 (19)  310.6
13   new3 - 副本 (2)  310.6
14  new3 - 副本 (20)  310.6
15  new3 - 副本 (21)  310.6
16  new3 - 副本 (22)  310.6
17  new3 - 副本 (23)  310.6
18   new3 - 副本 (3)  310.6
19   new3 - 副本 (4)  310.6
20   new3 - 副本 (5)  310.6
21   new3 - 副本 (6)  310.6
22   new3 - 副本 (7)  310.6
23   new3 - 副本 (8)  310.6
24   new3 - 副本 (9)  310.6
25       new3 - 副本  310.6
26            new3  310.6
27            new5  310.6

In [31]:
df.to_csv("Hic.csv", sep=',', header=True, index=False)